
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
/* font-family: 'Commissioner', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
    --box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

}
body{
    font-family: 'Commissioner', sans-serif;
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.132);
}
.header{
    display: flex;
    justify-content: space-between; 
    background-image: url(images/image-hero-desktop.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 350px;
    padding: 30px 100px 0 100px;
}
.header > .nav-links > a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
.header > .nav-links > a:hover{
    color: rgba(255, 255, 255, 0.708);
}
main{
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 700px;
    
}
.buttons-wrapper-top{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.bookmark > img{
    width: 40px;
}
.bookmark{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.134);
    border-radius: 50px;
    font-size: 12px;
    width: 130px;
}
.buttons-wrapper-top > button {
    border-radius: 50px;
    padding: 0 30px;
    border: 0;
    background-color: var(--Moderate-cyan);
    color: white;
    font-family: inherit;
    cursor: pointer;
}
.buttons-wrapper-top > button:hover{
    background-color: var(--Dark-cyan);
}
.mastercraft-div > h2, .mastercraft-div > p{
    text-align: center;
}
.mastercraft-div > p{
    margin-top: 20px;
    color: var(--Dark-gray);
}
.mastercraft-div > h2{
    margin-top: 30px;
}
.mastercraft-div{
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding-top: 30px;
    z-index: 99;
    background-color: white;
}
.numbers_div{
    padding: 40px;
    margin-top: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: white;
}
.number_boxes{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}
.number_boxes > div > .number_head{
    font-size: 30px;
}
.number_boxes > div > p:nth-child(2){
    color: var(--Dark-gray);
    font-size: 13px;
    margin-top: 10px;
}
.bar{
    width: 100%;
    height: 12px;
    background-color: rgba(128, 128, 128, 0.134);
    border-radius: 50px;
    margin-top: 30px;
}
.green_bar{
    width: 75%;
    height: 10px;
    background-color: var(--Moderate-cyan);
    border-radius: 50px;
}
.numbers_div > .number_boxes > div{
    position: relative;
}
.numbers_div > .number_boxes > div::before{
    width: 1px;
    height: 100px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.134);
    top: 0;
    left: 0;
}
.bamboo_stand{
    border: 2px solid rgba(128, 128, 128, 0.134);
    border-radius: 10px;
}
.bamboo_heading{
    display: flex;
    justify-content: space-between;
}
.bamboo_heading > p{
    font-weight: 600;
}
.bamboo_heading > span{
    color: var(--Moderate-cyan);
}
.number_btn {
    display: flex;
    justify-content: space-between;
}
.number_left{
    display: flex;
    align-items: center;
    gap: 5px;
}
.number_left > p{
    font-size: 25px;
    font-weight: 500;
}
.number_btn > button{
    border-radius: 50px;
    padding: 12px 25px;
    border: 0;
    background-color: var(--Moderate-cyan);
    color: white;
    font-family: inherit;
    cursor: pointer;
}
.number_btn > button:hover {
    background-color: var(--Dark-cyan);
}
.about_wrapper{
    padding: 30px;
    box-shadow: var(--box-shadow);
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
}
.about_wrapper > .about_article> h3 {
    margin: 10px 0 30px 0;
}
.about_article > p {
    color: var(--Dark-gray);
    line-height: 25px;
}
.about_article{
    margin-bottom: 30px;
}
.bamboo_stand {
    padding: 30px 20px;
}
.number_btn {
    margin-top: 25px;
}
.number_left > span {
    color: var(--Dark-gray);
}
.bamboo_heading {
    margin-bottom: 30px;
}
.bamboo_stand > p {
    color: var(--Dark-gray);
    line-height: 25px;
}
.stands_div {
    margin-bottom: 20px;
}
.mahogany_div {
    opacity: 50%;
}
.number_btn > .out_of_stock {
    background-color: var(--Dark-gray);
}
.number_btn_stock{
    display: flex;
    justify-content: space-between;
}
.number_btn_stock > button{
    border-radius: 50px;
    padding: 12px 25px;
    border: 0;
    background-color: var(--Dark-gray);
    color: white;
    font-family: inherit;
    cursor: pointer;
}












.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
